<div class="panel">
    <div class="panel-heading">Payment</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <credit-card card-model="payment.registration.creditCard"></credit-card>
            </div>
        </div>
        <div class="checkbox terms-of-service"> <label> <input ng-model="payment.agreeWithTerms" type="checkbox" value=""> I acknowledge that I have read and agree with the Eventgrid
            <a href="http://eventgrid.com/terms-of-service" target="_blank" id="termsAndConditionsLink">terms of service</a> </label> </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-lg btn-default" ng-click="payment.prevStep()">Previous</button>
        <button class="btn btn-lg btn-success pull-right" ng-disabled="!payment.agreeWithTerms || payment.loading" ng-click="payment.nextStep()" style="float:right">Continue{{payment.loading ? '...' : ''}}</button>
    </div>
</div>